<ion-view view-title="Главная страница">
    <ion-content overflow-scroll="false">
        <div class="card" align="left">
            <div class="item item-divider">
                <h2 align="center">Татьяна Ляхор</h2>
            </div>
            <div class="item item-text-wrap">
                <p>(Южноукраинская ассоциация психологов и арт-терапевтов)
                </p>
                <span style="font-size: 19px;">представляет:</span>
                <h3>Очный курс по креативности</h3>
                <h3>+ сертификат по проходжению курса</h3>
            </div>
            <div class="item item-divider item-text-wrap">
                <p><strong>Если при создании чего-то нового Вы чувствуете:</strong></p>
                <p><i class="fa fa-check-square-o"></i> что никогда не справитесь с этим</p>
                <p><i class="fa fa-check-square-o"></i> что у Вас нет вдохновения</p>
                <p><i class="fa fa-check-square-o"></i> что будете недооценены</p>
            </div>
            <div class="item item-divider item-text-wrap">
                <h3>
                          Цель тренинга – развитие навыков креативности, гибкости мышления, преодоления стереотипного поведения, способности выходить из депрессивного состояния при помощи собственных сил и более полного раскрытия внутренних ресурсов личности.
                          </h3>
            </div>
        </div>
        <!--  <md-tab label="День первый" class="tab_colored">
                        <md-content class="tab_content">
                            <h1 class="md-display-2">День первый</h1>
                            <p class="tab_paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec, feugiat ultricies mi.</p>
                        </md-content>
                    </md-tab>
                    <md-tab label="День второй">
                        <md-content class="tab_content">
                            <h1 class="md-display-2">День второй</h1>
                            <p class="tab_paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec, feugiat ultricies mi. Aliquam erat volutpat. Nam placerat, tortor in ultrices porttitor, orci enim rutrum enim, vel tempor sapien arcu a tellus. Vivamus convallis sodales ante varius gravida. Curabitur a purus vel augue ultrices ultricies id a nisl. Nullam malesuada consequat diam, a facilisis tortor volutpat et. Sed urna dolor, aliquet vitae posuere vulputate, euismod ac lorem. Sed felis risus, pulvinar at interdum quis, vehicula sed odio. Phasellus in enim venenatis, iaculis tortor eu, bibendum ante. Donec ac tellus dictum neque volutpat blandit. Praesent efficitur faucibus risus, ac auctor purus porttitor vitae. Phasellus ornare dui nec orci posuere, nec luctus mauris semper.</p>
                            <p class="tab_paragraph">Morbi viverra, ante vel aliquet tincidunt, leo dolor pharetra quam, at semper massa orci nec magna. Donec posuere nec sapien sed laoreet. Etiam cursus nunc in condimentum facilisis. Etiam in tempor tortor. Vivamus faucibus egestas enim, at convallis diam pulvinar vel. Cras ac orci eget nisi maximus cursus. Nunc urna libero, viverra sit amet nisl at, hendrerit tempor turpis. Maecenas facilisis convallis mi vel tempor. Nullam vitae nunc leo. Cras sed nisl consectetur, rhoncus sapien sit amet, tempus sapien.</p>
                            <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.</p>
                        </md-content>
                    </md-tab>
                    <md-tab label="День третий">
                        <md-content class="tab_content">
                            <h1 class="md-display-2">День третий</h1>
                            <p class="tab_paragraph">Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.</p>
                        </md-content>
                    </md-tab>
                </md-tabs> -->
        <div class="list card">
            <a href="#" class="item item-icon-left item-text-wrap">
                <i class="icon ion-calendar"></i>Начало ближайшего курса
                <span>20 октября <span style="font-size: 80%;">2016 года</span></span>
            </a>
            <a href="#" class="item item-icon-left item-text-wrap">
                <i class="icon ion-clock"></i>Срок обучения
                <span>1,5 месяца</span>
            </a>
            <a href="#" class="item item-icon-left item-text-wrap">
                <i class="icon ion-ios-book-outline"></i>Режим обучения и <span style="font-size: 80%;">сертификации</span></h4>
                <span>очный</span>
            </a>
            <a href="#" class="item item-icon-left item-text-wrap">
                <i class="icon ion-earth"></i>Язык обучения и <span style="font-size: 80%;">сертификации</span></h4>
                <span>русский</span>
            </a>
            <a href="#" class="item item-icon-left item-text-wrap">
                <i class="icon ion-woman"></i><span style="font-size: 80%;">Автор и ведущий</h4>
            <span>Татьяна Ляхор, <span style="font-size: 80%;">сертифицированый арт-терапевт, тренер<br></span></span>
            </a>
        </div>
        <div align="center">
            <a  class="button button-assertive" ng-href="https://deek1.typeform.com/to/sGFouD" target="_blank"> Оставить заявку на участие</a>
        </div>
    </ion-content>
</ion-view>
