<md-toolbar md-scroll-shrink>
    <div class="md-toolbar-tools">
        <div class="admin-container" ng-show="isAdmin===true">
            <md-button class="" ng-click="add=!add">Создать новый пост</md-button>
            <md-button ng-show="add===true" ng-click="addPost(newPost)" class="">Создать</md-button>
        </div>
        <md-button ng-click="showFilters=!showFilters">
            <md-icon class="mdi mdi-magnify"></md-icon>Поиск</md-button>
    </div>
</md-toolbar>
<div class="filters" layout="row" layout-align="center center" ng-show="showFilters">
    <!--  We're working locally with our models here. They don't interact
  with our controller because we don't prefix them with vm -->
    <md-input-container>
        <label>Ввод</label>
        <input ng-model="textFilter" type="text">
    </md-input-container>
    <!-- <md-input-container>
    <label>Category</label>
    <md-select ng-model="category">
      <md-option ng-repeat="category in categories" value="{{ category }}">  
        {{ category }}
      </md-option>
    </md-select>
  </md-input-container> -->
    <div layout="row">
        <md-button ng-click="textFilter = ''" class="md-warn">
            Очистить
        </md-button>
    </div>
</div>
<form flex="100" style="margin-top:30px;" name="newPostForm" novalidate>
    <div layout="row" layout-align="space-between center">
    </div>
    <md-content ng-show="add===true">
        <div>
            <md-input-container class="md-block" flex-gt-sm ng-class="{ 'has-error' : newPostForm.title.$error.required}">
                <input type="text" class="form-control" placeholder="Название поста" ng-model="newPost.title" name="title" required></input>
            </md-input-container>
        </div>
        <md-input-container class="md-block" flex-gt-sm ng-class="{'has-error': newPostForm.content[0].$error.required }">
            <textarea type="text" class="form-control" placeholder="Первый параграф" ng-model="newPost.content[0]" rows="3" cols="10" name="content[0]" required></textarea>
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
            <textarea type="text" class="form-control" placeholder="Второй параграф" ng-model="newPost.content[1]" rows="3" cols="10"></textarea>
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
            <textarea type="text" class="form-control" placeholder="Третий параграф" ng-model="newPost.content[2]" rows="3" cols="10"></textarea>
        </md-input-container>
    </md-content>
    <md-button ng-show="add==true" ng-click="addParagraph=!addParagraph" class="md-primary">Добавить Параграфы</md-button>
    <md-content ng-show="addParagraph===true">
        <md-input-container class="md-block" flex-gt-sm>
            <textarea type="text" class="form-control" placeholder="Четвертый параграф" ng-model="newPost.content[3]" rows="3" cols="10"></textarea>
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
            <textarea type="text" class="form-control" placeholder="Пятый параграф" ng-model="newPost.content[4]" rows="3" cols="10"></textarea>
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
            <textarea type="text" class="form-control" placeholder="Шестой параграф" ng-model="newPost.content[5]" rows="3" cols="10"></textarea>
        </md-input-container>
    </md-content>
</form>
<div class="blog_content">
    <div class="page-header">
        <h1>Психологический блог</h1>
    </div>
    <div class="post-grid md-padding" layout="row" layout-xs="column" layout-wrap layout-align="space-between">
        
            <md-card class="item" flex="100" flex-gt-sm="45" ng-repeat="post in posts | filter: textFilter | orderBy:'date'" layout="column">
                <md-button ng-if="isAdmin===true" ng-click="deletePost(event,post)" class="md-warn">Удалить</md-button>
                <br>
                <div layout="row">
                    <a href="#/blog/{{post._id}}">
                        <span style="font-size:20px; margin-left:10px;">{{post.title}} </span>
                        <span>| автор:  {{post.postedBy}} |</span>
                    </a>
                </div>
                <div layout="row" layout-align="end center">
                    <md-button class="md-primary small" id="{{ post._id + 'upvote' }}" class="upvote" ng-click="incrementUpvotes(post)">+</md-button><span>{{post.vote.positive.length}}</span>
                    <md-button class="md-warn small" id="{{ post._id + 'downvote' }}" class="downvote" ng-click="decrementUpvotes(post)">-</md-button><span>{{post.vote.negative.length}}</span>
                </div>
                <div class="heading">{{post.content[0][0]}} ...</div>
                <a href="#/blog/{{post._id}}#comments"><span align="right"  class="glyphicon glyphicon-comment"> {{ sizeOf(post.comments) }}</span></a>
            </md-card>
        
    </div>
</div>
