<md-content class="footer" layout="row">
	<div layout="column" class="md-padding">
		<p>Навигация</p>
			
				<md-button ui-sref="app">На главную</md-button>
				<md-button ui-sref="app.blog">Блог</md-button>
				<md-button ui-sref="app.market">Магазин</md-button>
				<md-button ui-sref="app.tests">Тесты для самопознания</md-button>
				<md-button ng-click="openLogin()">Войти/Зарегистрироваться</md-buttli>
			
	</div>


	<!-- <md-card class="footer_content" layout="row" layout-align="center center">
		<a href="http://halden.zzz.com.ua" target="_blank">Сайт разработан</a>
	</md-card> -->
</md-content>