<carousel links="links">    
    <div class="col-sm-12">
        <div class="row">
            <div class="content">
                <div id="carousel-example-generic" class="carousel slide col-sm-4 col-sm-push-2" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li ng-repeat="link in links" data-target="#carousel-example-generic" data-slide-to="{{$index}}"></li>
                    </ol>
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <div class="item" ng-repeat="link in links">
                            <img ng-src="{{link.src}}" alt="{{link.src}}" ng-click="selectTab($index)">
                            <div class="carousel-caption">
                                {{link.caption}}
                            </div>
                        </div>
                    </div>
                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
            <div class="content">
                <div class="col-sm-4 col-sm-push-2">
                    <div class="embed-responsive embed-responsive-4by3">
                        <iframe class="col-sm-3 col-sm-push-3" src="https://www.youtube.com/embed/V1W-OC7MTCY" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</carousel>
