<!-- <carousel links="links">    
    <div class="col-sm-12">
        <div class="row">
            <div class="content">
                <div id="carousel-example-generic" class="carousel slide col-sm-4 col-sm-push-2" data-ride="carousel">
                    
                    <ol class="carousel-indicators">
                        <li ng-repeat="link in links" data-target="#carousel-example-generic" data-slide-to="{{$index}}"></li>
                    </ol>
                    
                    <div class="carousel-inner" role="listbox">
                        <div class="item" ng-repeat="link in links">
                            <img ng-src="{{link.src}}" alt="{{link.src}}" ng-click="selectTab($index)">
                            <div class="carousel-caption">
                                {{link.caption}}
                            </div>
                        </div>
                    </div>
                   
                    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>

            <div class="content">
                <div class="col-sm-4 col-sm-push-2">
                    <div class="embed-responsive embed-responsive-4by3">
                        <iframe class="col-sm-3 col-sm-push-3" src="https://www.youtube.com/embed/V1W-OC7MTCY" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</carousel> -->
<section>
    <md-content flex layout-padding class="main_content">
        <div class="p">
            <div class="content">
                <h3>Татьяна Ляхор (член Южноукраинской ассоциации психологов и арт-терапевтов)<br>
                                        <br>
                                        <span style="font-size: 19px;">представляет:</span>
                                    </h3>
                <h3>Очный курс по маскотрепии</h3>
                <h2>+ сертификат по проходжению курса.</h2>
                <div>
                    <div>
                        <div class="edited">
                            <h2>
                                Робота c маской дает свободу чувствам, в тех случаях, если человек научен не давать выход эмоциям, часто в роботе с переселенцами из Донбасса я вижу, как их воспитание или лад  повлиял на них. Возможно с помощью маски я не дам клиенту ощутить себя в безпасности, потому что снятие масок - риск остаться беззащитным, но для того и есть кабинет - чтобы безпасно делать сложную психологическую работу. 
                            </h2>
                        </div>
                    </div>
                </div>
                <div>
                    <h3>
                        <p><b>Цель:</b> представить и апробировать основные подходы с использованием разных форматов маскотерапии в роботе психолога. Научиться анализировать маски клиета.</p>
                        </h3>
                </div>
            </div>
        </div>
    </md-content>
    <md-content class="heading_content">
        <div ng-cloak class="tabs" layout="column">
            <md-tabs md-dynamic-height md-border-bottom layout="column" flex align="left">
                <md-tab label="День первый" class="tab_colored" flex>
                    <md-content class="tab_content md-padding">
                        <ul class="ul">
                            <p>День 1. Маскотерапия у роботе c клиентом.</p>
                            <li>Знакомство: информирование про тему, цель, задания, содержание и конечный результат тренинга; оглашение регламента и правил роботы; определение уровня проинформированости ожиданий учасников.</li>
                            <li>Мини-лекция &quot;Символика маски. Технология создания масок&quot;.</li>
                            <li>Упражнение &quot;Моя маска в прошлом, настоящем и будущем&quot; (книга сказок).</li>
                            <li>Упражненеие &quot;Маски-образы&quot;. Робота с аcсоциативными метафорическими картами(МАК).</li>
                            <li>Кофе-брейк.</li>
                            <li>Упражнение &quot;Создание маски&quot;. Научимся отпускать ненужные состяния и принимать собственные ресурсы. Изготовление маски методом папьє-маше.</li>
                            <li>Упражнение &quot;Конфликт масок&quot;. Робота с аcсоциативными метафорическими картами(МАК). Упражнение на выявление и замену стереотипов, которые мешают конструктивному общению.</li>
                            <li>Резюмирование дня.</li>
                        </ul>
                    </md-content>
                </md-tab>
                <md-tab label="День второй">
                    <md-content class="tab_content md-padding" flex>
                        <ul class="ul">
                            <p>День 2. Маски как способ адаптации и самореализации личности</p>
                            <li>Вступительный шеренг.</li>
                            <li>Упражнение &quot;Эмоция моей маски&quot;. Перенесение НА маску той эмоции, которая была ПОД маской.</li>
                            <li>Упражнение &quot;Беседа с маской&quot;. Расширения умений самопознания, раскритие новых граней личности, обращение к своему подсознантельному.</li>
                            <li>Мини-лекция &quot;Лицо как целосный образ&quot;. Как проанализировать маску клиента: разбор частей маски клиента. Инструктаж того, как считать информацию про клиента.</li>
                            <li>Упражнение &quot;Без маски&quot;. Снятие эмоциональной и поведенческой скованости, формирования навыков искренних высказываний для анализа собственного &quot;Я&quot;.</li>
                            <li>Кофе-брейк.</li>
                            <li>Упражнение &quot;Маска силы и зашиты&quot;. Создание маски через интеграцию в одной маске двух животных.</li>
                            <li>Упражнение &quot;Асамблея масок&quot;.</li>
                            <li>Заключительный шеринг. Резюмирование дня.</li>
                        </ul>
                    </md-content>
                </md-tab>
                <md-tab label="День третий">
                    <md-content class="tab_content md-padding" flex>
                        <ul class="ul">
                            <p>День 3. Маска как проявление архетипических образов</p>
                            <li>Вступительный шеринг.</li>
                            <li>Упражнение &quot;Маска страха&quot;. Высвобождние накопленного раздражения, агрессии, обработка страхов и тривог.</li>
                            <li>Кофе-брейк.</li>
                            <li>Упражнение &quot;Возрождение силы&quot;. Подбор под маски 3 жизнеутрверждающих аффирмаций:
                                <ul>
                                    <li>Я-могу</li>
                                    <li>Я-хочу</li>
                                    <li>Я-буду</li>
                                </ul>
                            </li>
                            <li>Упражнеие &quot;Диалог масок&quot;. Оценка себя и других, самопринятия, розвитие умения видить позитивное в других.</li>
                            <li>Заключительный шеринг. Подведение результатов тренинга, оценка достижения целей тренинга, ответы на вопросы, вручение сертификатов.</li>
                        </ul>
                    </md-content>
                </md-tab>
            </md-tabs>
        </div>
    </md-content>
    
        <md-card class="event-description" layout-gt-sm="row" layout-align-gt-sm="center center" layout="column"  layout-align="start start">
            <div class="md-padding" layout="row">
                <i class="fa fa-calendar fa-2x md-padding"></i>
                
                    <p style="margin-bottom: 0.5em;">Начало<br> ближайшего курса<span> 20 октября <span style="font-size: 80%;">2016 года</span></span></p>
                    
                
            </div>
            <div class="md-padding" layout="row">
                <i class="fa fa-clock-o fa-2x md-padding"></i>
                
                    <p style="margin-bottom: 0.5em;">Срок обучения<span> 1,5 месяца</span></p>
                    
                
            </div>
            <div class="md-padding" layout="row">
                <i class="fa fa-eye fa-2x md-padding"></i>
                
                    <p style="margin-bottom: 0.5em;">Режим обучения <br>и <span style="font-size: 80%;">сертификации</span> <span> очный</span></p>
                    
                
            </div>
            <div class="md-padding" layout="row">
                <i class="fa fa-language fa-2x md-padding"></i>
                
                    <p style="margin-bottom: 0.5em;">Язык обучения <br>и <span style="font-size: 80%;">сертификации</span> <span> русский</span></p>
                    
                
            </div>
            <div class="md-padding" layout="row">
                <i class="fa fa-microphone fa-2x md-padding"></i>
                
                    <p style="margin-bottom: 0.5em;">Автор и ведущий<span> Татьяна Ляхор,<br> <span style="font-size: 80%;">сертифицированый арт-терапевт, тренер</span></span></p>
                    
                
            </div>
        </md-card>
    
</section>
<div layout="row" layout-align="center center">
    <md-button href="https://deek1.typeform.com/to/sGFouD" target="_blank" class="md-warn huge"> Оставить заявку на участие</md-button>
</div>
