<div class="topbar">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h1 ui-sref="blog" class="clickable">Психологічний блог</h1>
            </div>
            <div class="col-sm-2">
                <nav role="navigation">
                    <ul>
                        <li><a href="" ui-sref="blog">Усі пости</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
<div class="content">
    <div class="container">
        <div class="page-header">
            <h3>
                <span>{{post.title}}</span>
            </h3>
            <span ng-show="post.author"> posted by {{post.author}} |</span> 
            <div ng-repeat="content in post.content track by $index">{{content}}</div>
        </div>
        <div ng-repeat="comment in post.comments | orderBy:'-upvotes'">
            <button class="glyphicon glyphicon-thumbs-up btn-success" ng-click="incrementUpvotes(comment)"></button> {{comment.upvotes}} 
            <button class="glyphicon glyphicon-thumbs-down btn-danger" ng-click="decrementUpvotes(comment)"></button> {{comment.downvotes}} - {{comment.author}}
            <span style="font-size:20px; margin-left:10px;">{{comment.body}}</span>
        </div>
        <div ng-hide="isLoggedIn()">
  <h3><a href="/#/login">Увійдіть до системи</a> або <a href="/#/register">Зареєструйтесь</a> для того щоб додати коментарій.</h3>
</div>
        <form ng-submit="addComment()" ng-show="isLoggedIn()" style="margin-top:30px;">
            <h3>Додати новий коментарій</h3>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Ваш коментарій" ng-model="body"></input>
            </div>
            <button type="submit" class="btn btn-primary">Додати</button>
        </form>
    </div>
</div>
