<div class="topbar">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h1 ui-sref="app.blog" class="clickable">Психологический блог</h1>
            </div>
            
        </div>
    </div>
</div>
<div class="content">
    <div class="container">
        <div class="page-header">
            <h3>
                <span>{{post.title}}</span>
            </h3>
            <span ng-show="post.author"> posted by {{post.author}} |</span> 
            <p ng-repeat="p in post.content[0]">{{p}}</p>
        </div>
        <div ng-repeat="comment in post.comments | orderBy:'-upvotes'">
            <button class="glyphicon glyphicon-thumbs-up btn-success" ng-click="incrementUpvotes(post,comment)"></button> {{comment.upvotes[0].value}} 
            <button class="glyphicon glyphicon-thumbs-down btn-danger" ng-click="decrementUpvotes(post,comment)"></button> {{comment.downvotes[0].value}} - {{comment.author}}
            <span style="font-size:20px; margin-left:10px;">{{comment.body}}</span>
        </div>
        <div ng-hide="auth">
  <h3 ><a  ng-click="openLogin()">Войдите в систему</a> для того чтобы добавить новый комментарий.</h3>
</div>
        <form class="form-horizontal" ng-submit="addComment()" name="commentForm" ng-show="auth" style="margin-top:30px;" >
            <h3>Добавить новый коментарий</h3>
            <div class="form-group" ng-class="{ 'has-error' : commentForm.body.$error.required && !commentForm.body.$pristine }">
                <input type="text" class="form-control" placeholder="Ваш комментарий" ng-model="body" required></input>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Добавить</button>
            </div>
        </form>
    </div>
</div>
