<div class="checkout_container container">
    <div layout="column">
        <h1>Корзина заказа </h1>
        <ngcart-cart template-url="views/partials/cart.html"></ngcart-cart>
    </div>
    <div layout="row">
        <p class="help-block">{{ errors }}</p>
        <br>
        <div>
            <md-button class="md-primary" ng-click="showDetails = !showDetails" ng-hide="totalCost===0">Оформить заказ</md-button>
        </div>
    </div>
    <div>
        <form name="orderForm" id="form" role="form" ng-show="showDetails" class="form-vertical" ng-submit="sendOrder()" novalidate>
            <md-input-container class="md-block" flex-gt-sm>
                <input name="address" ng-class="{ 'bubble' : orderForm.address.$error.required && !orderForm.address.$pristine }" id="address" class="form-control" type="text" placeholder="Введите адрес" g-places-autocomplete ng-model="order.place" required>
                <span ng-show="orderForm.address.$error.required && !orderForm.address.$pristine" class="help-block">Поле адрес обязательно для заполнения</span>
            </md-input-container>
            <md-input-container class="md-block" flex-gt-sm>
                <span>
                Введите метод оплаты
                </span>
                <md-select name="type" ng-model="order.method" required>
                    <md-option value="pb">Оплата на карту ПриватБанка</md-option>
                    <md-option value="noPb">Наложенный платеж</md-option>
                </md-select>
            </md-input-container>
            <md-input-container class="md-block" flex-gt-sm>
                <input name="name" id="name" class="form-control" type="text" placeholder="Ф.И.О." ng-model="order.name" required>
                <span ng-show="orderForm.name.$error.required && !orderForm.name.$pristine" class="help-block">Поле Ф.И.О. обязательно для заполнения</span>
            </md-input-container>
            <md-input-container class="md-block" flex-gt-sm>
                <input name="email" id="email" class="form-control" type="email" placeholder="Email" ng-model="order.email" required>
                <span ng-show="orderForm.email.$invalid && !orderForm.email.$pristine" class="help-block">Неверный формат Email</span>
            </md-input-container>
            <md-input-container class="md-block" flex-gt-sm>
                <input name="telephone" id="telephone" class="form-control" type="text" placeholder="Номер телефона" ng-model="order.telephone" required>
                <span ng-show="orderForm.telephone.$error.required && !orderForm.telephone.$pristine" class="help-block">Поле Номер телефона обязательно для заполнения</span>
            </md-input-container>
            <md-input-container class="md-block" flex-gt-sm>
                <input name="delivery" id="delivery" class="form-control" type="text" placeholder="Номер отделения службы доставки" ng-model="order.delivery" required>
                <span ng-show="orderForm.delivery.$error.required && !orderForm.delivery.$pristine" class="help-block">Поле Номер отделения службы доставки обязательно для заполнения</span>
            </md-input-container>
            <div class="form-group">
                <md-button type="submit" class="md-primary" ng-disabled="orderForm.$invalid">Заказать</md-button>
            </div>
        </form>
    </div>
</div>
