<md-content class="md-padding">
	<md-card>
		<div class="quiz-area" ng-show="inProgress">
		    <div ng-show="!quizOver">
		        <h2 id="question">{{question}}</h2>
		        <ul id="options">
		            <li ng-repeat="option in options">
		                <label>
		                    <input type="radio" name="answer" value="{{option.value}}"> {{option.name}}
		                </label>
		            </li>
		        </ul>
		        <md-button ng-click="checkAnswer()" class="md-warn" ng-show="answerMode">Подтвердить</md-button>
		        <div ng-show="!answerMode">
		            <md-button ng-click="nextQuestion()" class="next-question md-primary">Следующий вопрос</md-button>
		        </div>
		    </div>
		    <div ng-show="quizOver">
		        <h2>Ваш резутьтат</h2>
		        <div id="score">
		            Ваш результат: {{result}}
		        </div>
		        <md-button class="md-primary" ng-click="reset()">Пройти снова</md-button>
		    </div>
		</div>
		<div class="intro" ng-show="!inProgress">
		    <p>Тест на Креативность</p>
		    <md-button id="startQuiz" ng-click="start()">Начать опрос</md-button>
		</div>

	</md-card>
	
</md-content>



