
<html lang="en">

<head>
    <% include ../views/partials/head %>
</head>
<header>
   
</header>
<body ng-app="flapperNews" ng-controller="MainCtrl">
    <div class="content">
        <div class="container">
            <div class="row">
                <ui-view></ui-view>
            </div>
        </div>
    </div>


    <!-- Template views -->
   
    <!-- !!!!!!!!!!!!!!!!!! -->
</body>

</html>
