body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.glyphicon-thumbs-up {
    cursor: pointer
}
ul li {
    list-style-type: none;
}

.clickable {
    cursor: pointer;
}

ul.post-grid {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

ul.post-grid li {
    padding: 20px;
    cursor: pointer;
    transition: background linear 0.5s;
    border-bottom: 1px solid #3a8bab;
}

ul.post-grid li:hover {
    background: #3a8bab;
    color: white;
}

ul.post-grid li:hover h3 {
    color: white;
}

ul.post-grid li a {
    color: #666;
    text-decoration: none;
}



ul.post-grid li:hover span{
    color:#fff;
}

.carousel-inner > .item > a > img,
.carousel-inner > .item > img,
.img-responsive,
.thumbnail a > img,
.thumbnail > img {
    display: block;
    max-width: 100%;
    height: auto;
}

.left.carousel-control {
    left: 15px;
}

.right.carousel-control {
    right: 15px;
}
.navbar  {
	margin: 0;
}
.container-fluid {
    width: 100%;
    padding: 0;
    margin: 0;
}

.container-fluid .colored {
    min-height: 108px;
    background-color: #79b9d2;
}

.container-fluid .colored h4 {
    height: 60px;
    padding-top: 30px;
    text-align: center;
    color: #ffffff;
}

md-card img {
    width: 100%
}

.add a {
    color:#fff;
    text-decoration: none;
}