@font-face {
    // font-family: myFirstFont;
    // src: url(../fonts/Oranienbaum.ttf);
}

body {
    
    font: 14px 'Georgia' , Helvetica, Arial, sans-serif;
    overflow-x: hidden;
    z-index: 0;
    letter-spacing:3
}
div.post-grid,
ul li {
    list-style-type: none
}

.form,
div.post-grid .item {
    border-bottom: 1px solid #3a8bab
}

.clickable,
.glyphicon-thumbs-up,
.ngCart.cart span[ng-click] {
    cursor: pointer
}


div.post-grid {
    margin: 0 auto;
    padding: 0
}

div.post-grid .item {
    padding: 20px;
    cursor: pointer;
    transition: background ease .5s
}

div.post-grid .item a span {
    color: #000;
    transition: all ease .5s fill:
}

div.post-grid .item:hover span {
    color: #fff
}

div.post-grid .item:hover {
    background: #3a8bab;
    color: #fff
}

div.post-grid .item a {
    color: #000;
    text-decoration: none
}
p {
    line-height:2;
    letter-spacing:2;
}

.post_paragraph {
    line-height: 1.5
}

.filters md-input-container:nth-child(1) {
    margin-top: 42px
}

.item.ng-enter,
.item.ng-move {
    transition: .4s all;
    opacity: 0
}

.item.ng-enter.ng-enter-active,
.item.ng-move.ng-move-active {
    opacity: 1
}

.item.ng-leave {
    animation: .4s fade_item
}

@keyframes fade_item {
    from {
        opacity: 1
    }
    to {
        opacity: 0
    }
}

md-card-content .md-button {
    background-color: #fff
}

.icon-bar {
    background-color: #000
}

select {
    color: #000
}

.navbar {
    margin: 0
}

.container-fluid {
    width: 100%;
    padding: 0;
    margin: 0
}

.container-fluid .colored {
    min-height: 108px;
    background-color: #79b9d2
}

.container-fluid .colored h4 {
    height: 60px;
    padding-top: 30px;
    text-align: center;
    color: #fff
}

.blog_content {
    max-width: 1200px;
    min-height: 800px;
    margin: 0 auto
}

.market_item {
    padding: 10px
}

md-card img {
    max-width: 100%
}

.md-card-image {
    max-width: 300px
}

ngcart-addtocart a {
    color: #ff5722
}

.add a {
    color: #fff;
    text-decoration: none
}

 .md-fab {

    position: fixed;
    top: 20px;
    right: 0;
    z-index: 66666666666665;

}

// .hide_basket {
//     position: fixed;
//     width: 50px;
//     height: 50px;
//     background-color: rgba(0, 0, 0, 1);
//     z-index:666666666666659;
// }

// .basket {
//     width: 100px;
//     text-transform: inherit;
//     background-color: rgba(0, 0, 0, 0.7);
//     text-align: left;
// }

// svg {
// 	fill:white;
// }
.pluralize {
    padding-right: 10px
}

.form.form-group:hover {
    background: #3a8bab;
    color: #fff
}

.form-group label {
    width: 250px
}

.help-block {
    color: #EC5151
}

.ngCart.cart .glyphicon.disabled {
    color: #aaa
}

.checkout {
    min-width: 300px
}

.checkout_container {
    min-height: 900px;
    max-width: 1000px;
    margin: 0 auto
}

.p,
md-content.heading {
    min-height: 400px;
    text-align: center
}

.main_content {
    padding: 0
}

.p {
    padding: 50px 0 0;
    color: #fff;
    background: url(../images/head.png) center no-repeat;
    background-size: cover;
    font-family: Raleway, sans-serif
}

.p .content {
    width: auto;
    background-color: rgba(0, 0, 0, .3)
}

.p h3 {
    margin: 0
}

.edited {
    text-align: center
}

md-content.heading {
    background: url(../images/head.png)
}

md-content.heading_content {
    max-width: 800px;
    height: 650px;
    margin: 0 auto;
    text-align: center;
    background: url(../images/frame.jpg) center no-repeat #fff;
    background-size: 100% 100%
}

md-content.heading h1 {
    margin: 0;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url(../images/head.png);
    background-repeat: no-repeat;
    background-color: #555;
    background-size: cover;
    background-position: center;
    color: #fff;
    overflow: hidden
}

.event-description {
    background-color: #79b9d2;
    font-size: 15px;
    font-weight: 700;
    line-height: 18px;
    text-align: left;
    color: #fff;
    width: 100%
}

md-sidenav.md-locked-open {
    min-width: 100%;
    overflow: hidden
}

.edited_button,
.row._button {
    width: 200px
}

md-button.md-icon-button md-icon {
    -webkit-transition-duration: .5s;
    transition-duration: .5s;
    -webkit-transition-timing-function: cubic-bezier(.35, 0, .25, 1);
    transition-timing-function: cubic-bezier(.35, 0, .25, 1);
    -webkit-transition-property: background-color, fill, color;
    transition-property: background-color, fill, color
}

md-content .ext-content {
    padding: 50px;
    margin: 20px;
    background-color: #FFF2E0
}

.tabs {
    width: 80%;
    margin: 0 auto;
    padding: 0 50px
}

.huge {
    width: 300px;
    height: 100px;
    background-color: red;
    margin: 1.5em 0;
    color: #000
}

.huge span {
    color: #ff0;
    transition: 1s ease all;
    display: block;
    padding-top: 10%
}

.huge.md-button:not([disabled]):hover {
    background-color: #4B81D7
}

.huge.md-button:not([disabled]):hover span {
    color: #fff
}

.tab_content {
    padding-top: 2.5em;
    background-color: inherit;
    overflow: hidden;
    margin: 50px 0
}

.ul li {
    margin: 10px
}

.tab_paragraph {
    margin-top: 70px
}

.md-tab.md-active {
    color: #fff!important
}

.md-display-2 {
    margin-top: -5px;
    color: #fff
}

.test_background {
    background: url(../images/head.png) center no-repeat;
    background-size: cover;
    position: relative;
    height: 900px
}

.test_card {
    max-width: 800px;
    margin: 0 auto
}

.intro p {
    text-transform: uppercase;
    letter-spacing: 1
}

#left {
    display: -webkit-box
}

.margined {
    max-width: 1200px;
    margin: 0 auto
}

.small {
    min-width: 30px
}

.footer {
    border-top: 2px solid #55992C;
    
    margin-top: 3em;
    min-height: 150px;
    width: 100%
}

.footer>.footer_content {
    height: 150px
}

.footer .md-button {
    text-align: left;
    
}

.md-dialog-is-showing {
    top: 0;
    overflow: visible;
}

@media only screen and (max-width:959px) {
    md-sidenav ._md-nav-bar-list {
        display: inline
    }
    .huge {
        margin: 1em 0
    }
    md-content.heading_content {
        height: 800px;
    }
    .tabs {
        width: 100%;
        margin: 0;
        padding: 0
    }
    .tab_content {
        width: 75%;
        margin: 0 auto;
        padding-top: 3.4em
    }
}

// table styles
table.md-table td.md-cell {
    color: rgba(0, 0, 0, .87);
    font-size: 13px;
    border-top: 1px rgba(0, 0, 0, .12) solid;
}

table.md-table td.md-cell {
    color: rgba(0, 0, 0, .87);
    font-size: 13px;
    border-top: 1px rgba(0, 0, 0, .12) solid;
}
