<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="new" md-is-open="vm.sidenavOpen" aria-label="new">
    <md-toolbar>
        <h1 class="md-toolbar-tools">Добавить Товар</h1>
    </md-toolbar>
    <md-content layout-padding>

        
        <form>
            <md-input-container>
                <label for="title">Название</label>
                <input type="text" id="title" md-autofocus ng-model="item.title">
            </md-input-container>
            <md-input-container>
                <label for="price">Цена</label>
                <input type="text" id="price" ng-model="item.price">
            </md-input-container>
            <md-input-container>
                <label for="description">Описание</label>
                <textarea type="text" id="description" ng-model="item.description">
                </textarea>
            </md-input-container>
            <md-input-container>
                <label for="image">Фото</label>
                <input type="file" name="myImage" image-with-preview accept="image/jpeg,image/png" id="image" ng-model="item.photo">
            </md-input-container>
            <md-input-container>
                <label for="image">Количество</label>
                <input type="text" id="image" ng-model="item.stock">
            </md-input-container>
            <md-button class="md-primary padded" ng-click="vm.saveItem(item)">
                Сохранить
            </md-button>
            <md-button class="md-warn" ng-click="vm.closeSidebar()">
                Отмена
            </md-button>
            <pre>{{item|json}}</pre>
        </form>
    </md-content>
</md-sidenav>