<md-content class="footer" layout="column" layout-align="center space-around">
    <div layout="row" class="md-padding" layout-align="center space-around">
        <a class="md-warn" ui-sref="app">На главную</a>
        <a ui-sref="app.blog">Блог</a>
        <a ui-sref="app.market">Магазин</a>
        <a ui-sref="app.tests">Тесты</a>
    </div>
    <div layout="column" class="md-padding" layout-align="center center">
        <p>Сайт разработан<a href="http://halden.zzz.com.ua" target="_blank">Dmytro Kulikov</a></p>
    </div>
    <!-- <md-card class="footer_content" layout="row" layout-align="center center">
		
	</md-card> -->
</md-content>
