<div class="ngdialog-message" >
    <div class="">
        <h3>Вход </h3>
    </div>
    <form ng-submit="doLogin()" layout="column">
        <md-input-container class="form-group">
            <label class="sr-only" for="username">Имя пользователя</label>
            <input type="text" class="form-control input-sm" id="username" placeholder="Username" ng-model="loginData.username">
        </md-input-container>
        <md-input-container class="form-group">
            <label class="sr-only" for="password">Пароль</label>
            <input type="password" class="form-control input-sm" id="password" placeholder="Password" ng-model="loginData.password">
        </md-input-container>
        <md-input-container>
            <md-checkbox type="checkbox" ng-model="rememberMe"> Запомнить меня</md-checkbox>
        </md-input-container>
        <md-button-group layout="column">
            <md-button type="submit" class="md-primary">Войти</md-button>
            <md-button class="md-warn" ng-click=closeThisDialog("Cancel")>Отмена</md-button>
            <md-button ng-click=openRegister()>Нажмите чтобы зарегистрироваться</md-button>
        </md-button-group>
    </form>
</div>
